<!DOCTYPE html>
<html lang="es">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/logo-icono.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Mi portafolio</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <!--LOADING PAGE-->
    <div class="ui-abstergo loader" id="loader">
      <div class="contenedor">
        <div class="abstergo-loader">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="ui-text">
          Sincronizando
          <div class="ui-dot"></div>
          <div class="ui-dot"></div>
          <div class="ui-dot"></div>
        </div>
      </div>
    </div>

    <!--ENCABEZADO-->
    <div class="contenedor-header">
      <header>
        <div class="logo">
          <a href="index.html"><img src="../static/images/logito.png" alt="" /></a>
        </div>
        <nav id="nav">
          <ul>
            <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
            <li><a href="#skills" onclick="seleccionar()">HABILIDADES</a></li>
            <li>
              <a href="#curriculum" onclick="seleccionar()">CURRICULUM</a>
            </li>
            <li><a href="#portfolio" onclick="seleccionar()">PORTAFOLIO</a></li>
            <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
          </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>
      </header>
    </div>

    <!--CONTENIDO-->
    <main>
      <!--SECCION INICIO-->
      <section id="inicio" class="inicio">
        <div class="contenido-banner">
          <div class="contenedor-img">
            <img src="../static/images/foto-principal2.png" alt="" />
          </div>
          <h1>JOSE SANCHEZ</h1>
          <h2>Ingeniero de Sistemas - Full Stack</h2>
          <div class="redes">
            <a
              href="https://www.linkedin.com/in/jose-sanchez-eisi/"
              target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a href="https://github.com/TheJose24" target="_blank"
              ><i class="fa-brands fa-git"></i
            ></a>
            <a
              href="https://www.hackerrank.com/josesitosanchez1?hr_r=1"
              target="_blank"
              ><i class="fa-brands fa-hackerrank"></i
            ></a>
            <a
              href="https://www.facebook.com/joseenrique.sanchezravello.9"
              target="_blank"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
          </div>
        </div>
      </section>

      <!--SECCION SOBRE MI-->
      <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
          <h2>Sobre Mi</h2>
          <p>
            <span>Hola, Soy Jose Sanchez.</span> Estudiante de Ingeniería de
            Sistemas y graduado del programa Oracle Next Education. Tengo experiencia
            en proyectos academicos y personales. He liderado equipos y colaborado en proyectos de programación.
             Estoy interesado en el desarrollo web y la Inteligencia Artificial.
          </p>

          <div class="fila">
            <!--datos personales-->
            <div class="col">
              <h3>Datos Personales</h3>
              <ul>
                <li id="tamaño1">
                  <strong>Cumpleaños</strong>
                  24-04-2002
                </li>
                <li id="tamaño1">
                  <strong>Telefono</strong>
                  +51 950 532 495
                </li>
                <li id="tamaño-email">
                  <strong>Email</strong>
                  devbyjose@gmail.com
                </li>
                <li id="tamaño2">
                  <strong>Direccion</strong>
                  131 Montero Rosas, Comas
                </li>
                <li id="tamaño2">
                  <strong>Perfil</strong>
                  <span>ESTUDIANTE</span>
                  <span>FREELANCER</span>
                </li>
              </ul>
            </div>

            <!--intereses-->
            <div class="col">
              <h3>Intereses</h3>
              <div class="contenedor-intereses">
                <div class="interes">
                  <i class="fa-solid fa-gamepad"></i>
                  <span>JUEGOS</span>
                </div>
                <div class="interes">
                  <i class="fa-solid fa-headphones"></i>
                  <span>MUSICA</span>
                </div>
                <div class="interes">
                  <i class="fa-solid fa-plane"></i>
                  <span>VIAJAR</span>
                </div>
                <div class="interes">
                  <i class="fa-solid fa-microphone"></i>
                  <span>CANTAR</span>
                </div>
                <div class="interes">
                  <i class="fa-brands fa-windows"></i>
                  <span>WINDOWS</span>
                </div>
                <div class="interes">
                  <i class="fa-solid fa-futbol"></i>
                  <span>DEPORTE</span>
                </div>
              </div>
            </div>
          </div>
          <button>
            <a href="../static/pdf/Jose_Sanchez_CV.pdf" download
              >DESCARGAR CV <i class="fa-solid fa-download"></i
            ></a>
            <span class="overlay"></span>
          </button>
        </div>
      </section>

      <!--SECCION SKILLS-->
      <section id="skills" class="skills">
        <div class="contenido-seccion">
          <h2>Habilidades</h2>
          <div class="fila">
            <!--Technical Skills-->
            <div class="col">
              <h3>Habilidades Tecnicas</h3>
              <div class="skill">
                <span>JavaScript</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>65%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>HTML5 & CSS3</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>87%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Java</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>73%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>MySQL</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>60%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Python</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>54%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Git & GitHub</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>83%</span>
                  </div>
                </div>
              </div>
            </div>
            <!--Professional Skills-->
            <div class="col">
              <h3>Habilidades Blandas</h3>
              <div class="skill">
                <span>Productividad</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>85%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Trabajo en Equipo</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>90%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Aprendizaje Ágil</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>94%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Responsabilidad</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>92%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Creatividad</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>85%</span>
                  </div>
                </div>
              </div>
              <div class="skill">
                <span>Dedicacion</span>
                <div class="barra-skill">
                  <div class="progreso">
                    <span>88%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--SECCION CURRICULUM-->
      <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
          <h2>Curriculum</h2>
          <div class="fila">
            <div class="col izquierda">
              <h3>Educacion</h3>
              <div class="item izq">
                <h4>Oracle Next Education</h4>
                <span class="casa">Programador Junior</span>
                <span class="fecha">03/2023 - 10/2023</span>
                <p>
                  Oracle Next Education (ONE) es un programa educativo de Oracle
                  que ofrece becas de formación en tecnología en América Latina.
                  A través de ONE, adquirí habilidades en programación,
                  incluyendo Java, bases de datos e inteligencia artificial.
                  Esta experiencia me permitió desarrollar una base sólida en
                  tecnología y estar preparado para los desafíos del mundo
                  digital en constante evolución
                </p>
                <div class="conectori">
                  <div class="circuloi"></div>
                </div>
              </div>
              <div class="item izq">
                <h4>Universidad Tecnologica del Perú</h4>
                <span class="casa">Ingeniero de Sistemas e Informatica</span>
                <span class="fecha">2022 - Actualidad</span>
                <p>
                  Durante mi carrera universitaria, he adquirido sólidos
                  conocimientos en áreas fundamentales de la tecnología. Mi
                  formación incluye cursos especializados en programación,
                  desarrollo de software, desarrollo web, desarrolo movil, bases
                  de datos, redes y seguridad informática. Además, he tenido la
                  oportunidad de participar en proyectos prácticos que me han
                  permitido aplicar mis conocimientos y desarrollar habilidades
                  en resolución de problemas, trabajo en equipo y análisis de
                  sistemas.
                </p>
                <div class="conectori">
                  <div class="circuloi"></div>
                </div>
              </div>
            </div>

            <div class="col derecha">
              <h3>Experiencia</h3>
              <div class="item der">
                <h4>Full-Stack Developer</h4>
                <span class="casa">Asistente Personal</span>
                <span class="fecha">08/2023</span>
                <p>
                  En este proyecto, desempeñé el rol de desarrollador full-stack
                  para crear un asistente personal conectado a la API de OpenAI.
                  Utilicé Python y Flask para desarrollar la lógica del servidor,
                  y HTML, CSS y JavaScript para crear una interfaz atractiva y fácil de usar.
                  Además, utilicé BootsTrap y Three.js para mejorar la apariencia y la 
                  experiencia visual del asistente. Me aseguré de que la comunicación
                  con la API de OpenAI fuera fluida y segura, y trabajé en la implementación 
                  de funcionalidades adicionales para mejorar la interacción con el usuario.
                </p>
                <div class="conectord">
                  <div class="circulod"></div>
                </div>
              </div>
              <div class="item der">
                <h4>Back-End Developer</h4>
                <span class="casa">Aplicacion para casa de canbios</span>
                <span class="fecha">07/2023</span>
                <p>
                  Como parte de un proyecto academico universitario, diseñé y desarrollé junto con mi equipo,
                  un programa completo enfocado para las casas de cambios. 
                  Esta aplicación permite realizar diversas funciones, incluyendo la gestión de 
                  monedas, tipos de cambio y ventas de moneda con métodos 
                  de pago preferidos. A pesar de no utilizar una base de datos, 
                  el programa gestiona de manera eficaz la información en la memoria local.
                  Además, no solo estuve involucrado en la programacion, también desempeñé el rol
                  de lider, enseñando y motivando a mi equipo, lo cual reforzo mis habilidades de liderazgo
                  y trabajo en equipo.
                </p>
                <div class="conectord">
                  <div class="circulod"></div>
                </div>
              </div>
              <div class="item der">
                <h4>Front-End Developer</h4>
                <span class="casa">Sitio Web Personal</span>
                <span class="fecha">06/2023</span>
                <p>
                  Desarrollé y diseñé mi propio sitio web personal utilizando
                  HTML, CSS y JavaScript. El sitio web incluye información sobre
                  mí, mis habilidades, mi curriculum, mi portafolio y una
                  sección de contacto, además cuenta con un chatbot conectado
                  a la API de OpenAI que actúa como mi intermediario para responder
                  preguntas de clientes potenciales en tiempo real. Me encargué de 
                  crear un diseño atractivo y responsivo, optimizando la experiencia 
                  del usuario. Utilicé CSS para estilizar la página y JavaScript para agregar
                  interactividad y funcionalidad. El proyecto me permitió
                  aplicar mis conocimientos en desarrollo web y mejorar mis
                  habilidades en diseño de interfaces y programación front-end.
                </p>
                <div class="conectord">
                  <div class="circulod"></div>
                </div>
              </div>
              
              <div class="item der">
                <h4>Front-End Developer</h4>
                <span class="casa">Encriptador de Texto</span>
                <span class="fecha">2023</span>
                <p>
                  En el marco del programa Oracle Next Education, participé en
                  un proyecto donde desarrollé un encriptador de texto
                  utilizando HTML, CSS y JavaScript. El encriptador cuenta con
                  la funcionalidad de encriptar y desencriptar textos, brindando
                  mayor seguridad en la comunicación de información
                  confidencial. Utilicé HTML para estructurar la página, CSS
                  para estilizarla y JavaScript para implementar la lógica de
                  encriptación y desencriptación.
                </p>
                <div class="conectord">
                  <div class="circulod"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--SECCION PORTFOLIO-->
      <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
          <h2>PORTFOLIO</h2>
          <div class="galeria">
            <div class="proyecto">
              <a
                href="https://a-l-f-r-e-d.onrender.com/"
                target="_blank"
              >
                <img src="../static/images/Asistente.png" alt="Proyecto Asistente virtual" />
                <div class="overlay">
                  <h3>Proyecto Personal</h3>
                  <p>Asistente Virtual</p>
                </div>
              </a>
            </div>
            <div class="proyecto">
              <a
                href="https://josesanchez-website.netlify.app/"
                target="_blank"
              >
                <img src="../static/images/Sitio-web.png" alt="Proyecto Pagina Web Personal" />
                <div class="overlay">
                  <h3>Proyecto Personal</h3>
                  <p>Portafolio Web</p>
                </div>
              </a>
            </div>
            <div class="proyecto">
              <a
                href="https://thejose24.github.io/Challenge-ONE/"
                target="_blank"
              >
                <img src="../static/images/Encriptador.png" alt="Proyecto Encriptador de textos" />
                <div class="overlay">
                  <h3>Challenge Oracle Next Education</h3>
                  <p>Encriptador de Textos</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!--SECCION CONTACTO-->
      <section id="contacto" class="contacto">
        <div class="contenido-seccion">
          <h2>CONTACTO</h2>
          <div class="fila">
            <!--Formulario-->
            <div class="col">
              <form name="formulario-contacto" netlify>
                <input type="text" name="nombre" placeholder="Tu Nombre" />
                <input
                  type="number"
                  name="Telefono"
                  placeholder="Numero Telefono"
                />
                <input
                  type="email"
                  name="correo"
                  placeholder="Direccion de correo"
                />
                <input type="text" name="tema" placeholder="Tema" />
                <textarea
                  name="asunto"
                  cols="30"
                  rows="10"
                  placeholder="Mensaje"
                ></textarea>
                <button type="submit">
                  Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
                  <span class="overlay"></span>
                </button>
                <input
                  type="hidden"
                  name="_next"
                  value="https://josesanchez-website.netlify.app/"
                />
              </form>
            </div>
            <!--Mapa-->
            <div class="col">
              <img src="../static/images/ubicacion.png" alt="" />
              <div class="info">
                <ul>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>
                    131 Montero Rosas, Comas - Perú
                  </li>
                  <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    +51 950 532 495
                  </li>
                  <li>
                    <i class="fa-solid fa-envelope"></i>
                    devbyjose@gmail.com
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--FOOTER-->
    <footer>
      <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up fa-bounce"></i>
      </a>
      <div class="herramientas">
        <p>ESTE SITIO WEB FUE DESARROLLADO CON:</p>
        <a href="#"
          ><i class="fa-brands fa-html5" style="color: #e34f26"></i
        ></a>
        <a href="#"
          ><i class="fa-brands fa-css3-alt" style="color: #1572b6"></i
        ></a>
        <a href="#"
          ><i class="fa-brands fa-square-js" style="color: #f7df1e"></i
        ></a>
      </div>
    </footer>

    <!--Boton WSP-->
    <div class="container" id="container">
      <div class="whatsapp">
        <div class="chat" id="chat">
          <div class="headerWhat">
            <div class="headUser">
              <div class="userImagen">
                <img class="imgUser" src="../static/images/botHeader.png" alt="">
              </div>
              <div class="userName">
                A.L.F.R.E.D.
              </div>
            </div>
            <div class="cerrar" onclick="clickear()">
              <i class="fa-solid fa-circle-xmark"></i>
            </div>       
          </div>

          <div class="containerWhat" id="containerWhat">
            <div class="containerMensaje asistente">
              <div class="imagen imgAsistente">
                <img class="imgMensaje" src="../static/images/botHeader.png" alt="">
              </div>
              <div class="mensaje msgAsistente" id="mensajeAsistente">Hola soy ALFRED, el asistente virtual de Jose.
                ¿Cual es tu consulta?
              </div>
            </div>
               
          </div>

          <div class="textWhat">
            <form class="formularioMensaje">
              <div class="cajaTexto" id="contenedorTextarea">
                <textarea id="cajaTexto" placeholder="Escribe un mensaje..." required></textarea>
                <div class="btnEnviar" id="btnEnviar" onclick="enviar()">
                  <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
              </div>
            </form>
          </div>
          
        </div>
        
      </div>
    </div>
    <div class="icono" id="icono" onclick="clickear()">
      <img class="img" src="../static/images/bot.png" alt="">
    </div>

    <script src="../static/script.js"></script>
  </body>
</html>
